name: Docker Image CI

on:
  push:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build Grafana
    
    - name: Run

      shell: bash
      run: >
        docker-compose -f  zk-kafka-single-node-stack.yml up -d
        --network host

    

